<div>
  {{title}}
</div>

<div>
  <button 
    type="button" 
    (click)="addRow()"
  >Add data</button>
  <button 
    type="button"
    (click)="saveTable()"
  >Save table</button>
  <!--<button
      type="button"
      (click)="debugArrays()"
    >debug arrays</button>-->
</div>

<div>
  <table>
    <thead>
      <th>#</th>
      <th
        *ngFor="let column of columns; let index = index; trackBy: trackByIndex('title', index)"
        (click)="editColumnTitle(index, $event)"
        class="column-title"
      >
        <input
          [hidden]="editColumnTitleIndex != index"
          [(ngModel)]="columns[index]"
        >
        <span [hidden]="editColumnTitleIndex == index">{{columns[index]}}</span>
      </th>
      <th><button
        type="button"
        (click)="addColumn()">+</button></th>
    </thead>
    <tr 
      *ngFor="let row of rows; let rowIndex = index; trackBy: trackByIndex(rowIndex, 'data')"
    >
      <td>{{rowIndex+1}}</td>
      <td *ngFor="let item of row.data; let dataIndex = index; trackBy: trackByIndex(rowIndex, dataIndex)">
        <input 
          [(ngModel)]="rows[rowIndex].data[dataIndex]"
        >
      </td>
      <td><button
        type="button"
        (click)="removeRow(rowIndex)"
      >X</button></td>
    </tr>
  </table>
</div>