#Folders
.vscode/*
__pycache__/*
raw-broccoli/*
node_modules/*
steamed-broccoli/node_modules/*
#Removing the Python iteration of improved-broccoli, so as to not cause confusion on potential users

#File types


#Files
