<nav>

  <ul>
    <li class="float-left"><a href="">Table</a></li>
    <li class="float-left"><a href="/script">Script</a></li>

    <li class="float-right"><a href="https://github.com/josemachado-dev/improved-broccoli/issues/new?assignees=josemachado-dev&labels=Feature+Request&template=feature_request.md&title=%5BFR%5D" target="_blank">Feature request</a></li>
    <li class="float-right"><a href="https://github.com/josemachado-dev/improved-broccoli/issues/new?assignees=josemachado-dev&labels=Bug+Report&template=bug_report.md&title=%5BBUG%5D" target="_blank">Report Bug</a></li>
  </ul>
  
</nav>

<br>