nav ul {
    background-color: rgb(34, 172, 64);
}

nav li.float-left {
    display: inline-block;
}

nav li.float-right {
    float: right;
}

nav a {
    background-color: rgb(34, 172, 64);
    color: rgb(250, 250, 250);
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 1em;
}

nav img {
    display: inline-block;
    width: 1em;
    padding-bottom: 1em;
}

nav a:hover{
    background-color: rgb(16, 187, 0);
}